@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto+Condensed:wght@300&family=Roboto:wght@100;300;400&display=swap');

header {
    height: 100vh;
}

header .owl-carousel.owl-theme {
    position: relative;
}

header .content {
    position: absolute;
    bottom: 10%;
    left: 0;
    z-index: 99;
    width: 100%;
    padding: 2em 2em 1em 2em;
    transition: 1s;
}

header .content.animate {
    background-color: rgba(29, 28, 28, 0.4);
}

header .content p:nth-child(1) {
    font-family: 'Roboto', sans-serif;
}

header .content p:nth-child(1) {
    font-size: 41px;
    font-weight: 100;
}

header .content p:nth-child(2) {
    font-size: 31px;
    font-weight: 400;
}

.owl-carousel .item {
    position: relative;
    height: 100vh;
}

.item video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.owl-carousel .owl-dots {
    position: absolute;
}

.cover {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.owl-carousel .owl-dots {
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: orange;
    border: 0;
    width: 10px;
    height: 10px;
}

.owl-theme .owl-dots .owl-dot span {
    width: 9px;
    height: 9px;
    margin: 5px 7px;
    background: 0.0;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
    border: 1px solid white;
}

.cursor-pointer {
    cursor: pointer;
}

/* Navbar */
nav.fixed {
    position: fixed;
    top: 0;
    right: 5%;
    z-index: 1030;
}

.bg-warning {
    background-color: #FCD44D !important;
}

.arrow-circle {
    height: 50px;
    width: 50px;
    z-index: -1;
    border-radius: 30px;
    position: absolute;
    bottom: -40%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.hide-menu {
    background-color: rgb(247, 147, 30);
    height: 15px;
}


.navbarNav .nav-item {
    text-align: center;
}

.navbarNav .nav-item a.nav-link,
.show-menu span {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 21px;
    font-weight: 400;
}

.navbarNav .nav-item:hover {
    background-color: #e7af04;
}

.btn-search {
    position: relative;
}

.btn-search .search-field {
    position: absolute;
    right: 50%;
    transform: translateX(30%);
    bottom: -120%;
}

.search-field {
    background-color: white;
    width: 250px;
    height: 35px;
    border: 1px solid #41dff8;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 4px;
    opacity: 1;
    transform: scale(0);
    transition: .6s ease opacity, .6s ease transform;
}

.search-field input {
    height: 70%;
    flex-basis: 80%;
    border: 1px solid #41dff8;
    border-radius: 4px;
}

.search-field input:focus {
    outline: 0;
    border: 2px solid #bac8f3;
}

/* Main */
.nav-tabs {
    border-bottom: none;
}

.nav-tabs .nav-item button.nav-link {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 100;
}

.nav-tabs .nav-item button.nav-link.active {
    background-color: rgb(0, 113, 188);
    color: white;
    border-radius: 0.375rem;
}

.nav-tabs .nav-item button.nav-link:hover {
    border-radius: 0.375rem;
}

.card {
    border: none;
    padding-bottom: 1rem;
}

.card-body hr {
    border-top: 4px solid #FCD44D;
}

.card-title,
.card-text {
    margin: 0;
}

.card-title {
    text-align: center;
    white-space: normal;
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    margin-top: 1rem;
    height: 50px;
}

.card-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.news-header {
    display: flex;
    height: 50px;
    border-right: 10px solid #0071BA;
}

.news-header div:nth-child(1) {
    background-color: #0071BA;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.news-header div:nth-child(2) {
    flex-grow: 3;
    border: 1px solid #0071BA;
    border-right: 0;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding-left: 3rem;
}

.news-body {
    padding-top: 1rem;
}

.news-body>* {
    font-family: 'Roboto', sans-serif;
}

.news-item {
    border-left: 3px solid #0071BA;
    height: 100%;
    padding: 0.5rem 0 1rem 1rem;
}

.news-item>p {
    margin: 0;
}

.read-more p {
    display: inline-block;
    color: #0071BA;
    cursor: pointer;
}

footer {
    background-color: #FCD44D;
}

footer>* {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.information {
    display: flex;
    justify-content: center;
}

.maps {
    text-align: center;
}

.footer-address {
    display: flex;
}

.footer-address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-address div p {
    margin: 0;
}

.footer-address div p,
.list-item {
    color: #000;
}

.list-link {
    list-style-type: none;
    padding-left: 0;
}

.list-link .list-item {
    text-decoration: none;
    text-align: center;
}


.list-group {
    border: none;
    padding: 0;
    background-color: 0.0;
}

.email-subscribe {
    margin-top: 3rem;
    width: 100%;
}

.email-subscribe>* {
    margin: 0;
}

.email-subscribe h5,
.email-subscribe p {
    text-align: center;
}

.email-subscribe input,
.email-subscribe div {
    margin-top: 1rem;
}

.btn-subscribe {
    background-color: #0071BA;
    color: #fff;
    text-align: start;
}

.btn-subscribe:hover {
    background-color: #0a85d6;
    color: #fff;
}

.copyright {
    background-color: #141826;
    margin-top: 5rem;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright p {
    margin: 0;
    font-weight: 100;
    font-size: 12px;
}


@media screen and (min-width: 768px) {
    header .content {
        width: 50%;
        padding: 3em 3em 1.75em 3em;
    }

    header .content.animate {
        left: 50%;
    }

    header .content p:nth-child(1) {
        font-size: 29px;
        font-weight: 100;
    }

    header .content p:nth-child(2) {
        font-size: 18px;
        font-weight: 400;
    }

    .nav-tabs .nav-item button.nav-link {
        font-size: 36px;
    }

    .information {
        justify-content: start;
    }

    .maps {
        text-align: left;
    }

    .list-link {
        margin: 0;
    }

    .list-link .list-item {
        text-align: left;
    }

    .email-subscribe {
        margin-top: 0;
    }

    .email-subscribe h5,
    .email-subscribe p {
        text-align: left;
    }

    .email-subscribe input,
    .email-subscribe div {
        margin-top: 1rem;
    }

    .copyright p {
        font-size: 16px;
    }
}

@media screen and (min-width: 992px) {
    header .content p:nth-child(1) {
        font-size: 41px;
        font-weight: 100;
    }

    header .content p:nth-child(2) {
        font-size: 31px;
        font-weight: 400;
    }

    .email-subscribe {
        width: 30%;
    }
}